In [2]:
# Data Quelle: https://www.diw.de/de/diw_01.c.603154.de/soep_in_der_lehre.html#c_diw_01.c.603164.de

import pandas as pd

df = pd.read_stata('practice_dataset_eng.dta')

# Interaktive Ansicht
df.head(20)  # Erste 20 Zeilen

,id,syear,sex,alter,anz_pers,anz_kind,bildung,erwerb,branche,gesund_org,lebensz_org,einkommenj1,einkommenj2,einkommenm1,einkommenm2
0,194.0,2015.0,[1] female,59.0,2.0,0.0,10.5,[-2] Employed part-time,[84] Public administration and defense; compul...,[4] Not so well,6.0,28678.943359,0.0,1659.128540,0.0
1,194.0,2016.0,[1] female,60.0,2.0,0.0,10.5,[-2] Employed part-time,[84] Public administration and defense; compul...,[3] Satisfactory,5.0,19962.292969,0.0,1809.336426,0.0
2,194.0,2017.0,[1] female,61.0,2.0,0.0,10.5,[-2] Employed part-time,[84] Public administration and defense; compul...,[3] Satisfactory,7.0,22227.675781,0.0,1849.037476,0.0
3,194.0,2018.0,[1] female,62.0,2.0,0.0,10.5,[-2] Employed part-time,[84] Public administration and defense; compul...,[5] Badly,5.0,22100.378906,0.0,1616.513672,0.0
4,194.0,2019.0,[1] female,63.0,2.0,0.0,10.5,[-2] Employed part-time,[84] Public administration and defense; compul...,[4] Not so well,6.0,23157.919922,0.0,1901.001221,0.0
5,19052.0,2015.0,[1] female,74.0,2.0,0.0,10.0,[5] Not employed,NaN,[2] Well,8.0,0.000000,0.0,0.000000,0.0
6,27495.0,2016.0,[1] female,35.0,3.0,1.0,15.0,[5] Not employed,NaN,[2] Well,8.0,14430.264648,0.0,0.000000,0.0
7,27495.0,2018.0,[1] female,37.0,3.0,1.0,15.0,[-1] Employed full-time,NaN,[3] Satisfactory,8.0,48435.136719,0.0,3991.452393,0.0
8,27495.0,2019.0,[1] female,38.0,3.0,1.0,15.0,[-1] Employed full-time,[84] Public administration and defense; compul...,[2] Well,8.0,53623.964844,0.0,4517.933105,0.0
9,22539.0,2015.0,[0] male,85.0,2.0,0.0,18.0,[5] Not employed,NaN,[3] Satisfactory,8.0,0.000000,0.0,0.000000,0.0
10,13224.0,2015.0,[1] female,73.0,1.0,0.0,10.5,[5] Not employed,NaN,[4] Not so well,5.0,0.000000,0.0,0.000000,0.0
11,13224.0,2016.0,[1] female,74.0,1.0,0.0,10.5,[5] Not employed,NaN,NaN,8.0,0.000000,0.0,0.000000,0.0
12,17316.0,2015.0,[0] male,43.0,4.0,2.0,15.0,[-1] Employed full-time,[88] Social services (excluding homes),[3] Satisfactory,8.0,41679.898438,0.0,4085.025391,0.0
13,17316.0,2016.0,[0] male,44.0,4.0,2.0,15.0,[-1] Employed full-time,[88] Social services (excluding homes),[3] Satisfactory,7.0,39990.832031,0.0,3096.562012,0.0
14,17316.0,2017.0,[0] male,45.0,4.0,2.0,15.0,[-1] Employed full-time,[87] Homes (excluding rest homes and vacation ...,[2] Well,8.0,34152.507812,0.0,2848.561768,0.0
15,17316.0,2018.0,[0] male,46.0,4.0,2.0,15.0,[-1] Employed full-time,[87] Homes (excluding rest homes and vacation ...,[2] Well,8.0,45108.816406,0.0,3375.650635,0.0
16,17316.0,2019.0,[0] male,47.0,4.0,2.0,15.0,[-1] Employed full-time,[85] Education and teaching,[2] Well,7.0,40568.656250,0.0,3414.492676,0.0
17,2644.0,2015.0,[1] female,55.0,2.0,0.0,13.0,[5] Not employed,NaN,[5] Badly,5.0,0.000000,0.0,0.000000,0.0
18,2644.0,2016.0,[1] female,56.0,2.0,0.0,13.0,[5] Not employed,NaN,[2] Well,9.0,0.000000,0.0,0.000000,0.0
19,2644.0,2017.0,[1] female,57.0,2.0,0.0,13.0,[5] Not employed,NaN,[2] Well,9.0,0.000000,0.0,0.000000,0.0

In [3]:
# Beschreibende Statistik
df.describe()

                 id         syear         alter      anz_pers      anz_kind
count  23522.000000  23522.000000  23522.000000  23445.000000  23445.000000
mean   15943.962891   2016.837769     48.282204      2.906718      0.748262
std     9143.335938      1.407175     18.332251      1.494616      1.110248
min        4.000000   2015.000000     17.000000      1.000000      0.000000
25%     8100.000000   2016.000000     34.000000      2.000000      0.000000
50%    15982.000000   2017.000000     48.000000      2.000000      0.000000
75%    23834.250000   2018.000000     62.000000      4.000000      1.000000
max    31773.000000   2019.000000    102.000000     13.000000     10.000000

In [4]:
# Datensatz-Struktur
df.shape  # Anzahl Zeilen, Spalten

(23522, 15)